<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>EmployeeOperations</servlet-name>
        <servlet-class>com.Controller.ProcessEmployeeOperations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEmployeeInformation</servlet-name>
        <servlet-class>com.Controller.ProcessEmployeeInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateTeam</servlet-name>
        <servlet-class>com.Controller.ProcessTeamOperations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateTask</servlet-name>
        <servlet-class>com.Controller.ProcessCreateTask</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTaskList</servlet-name>
        <servlet-class>com.Controller.ProcessTaskList</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowTeamInformation</servlet-name>
        <servlet-class>com.Controller.ShowTeamInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessTaskInformation</servlet-name>
        <servlet-class>com.Controller.ProcessTaskInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessEmployeeSearch</servlet-name>
        <servlet-class>com.Controller.ProcessEmployeeSearch</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessCreateJob</servlet-name>
        <servlet-class>com.Controller.ProcessJobOperations</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessJobInformation</servlet-name>
        <servlet-class>com.Controller.ProcessJobInformation</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessDashboardInformation</servlet-name>
        <servlet-class>com.Controller.ProcessDashboardInformation</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EmployeeOperations</servlet-name>
        <url-pattern>/EmployeeOperations</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ProcessDashboardInformation</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>ProcessEmployeeInformation</servlet-name>
        <url-pattern>/ProcessEmployeeInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateTeam</servlet-name>
        <url-pattern>/ProcessCreateTeam</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateTask</servlet-name>
        <url-pattern>/ProcessCreateTask</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTaskList</servlet-name>
        <url-pattern>/ProcessTaskList</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowTeamInformation</servlet-name>
        <url-pattern>/ShowTeamInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessTaskInformation</servlet-name>
        <url-pattern>/ProcessTaskInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessEmployeeSearch</servlet-name>
        <url-pattern>/ProcessEmployeeSearch</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessCreateJob</servlet-name>
        <url-pattern>/ProcessCreateJob</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessJobInformation</servlet-name>
        <url-pattern>/ProcessJobInformation</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessDashboardInformation</servlet-name>
        <url-pattern>/ProcessDashboardInformation</url-pattern>
    </servlet-mapping>
    <error-page>
        <error-code>404</error-code>
        <location>/404.jsp</location>
    </error-page>
    
    <error-page>
        <exception-type>java.lang.Exception</exception-type>
        <location>/error.jsp</location>
    </error-page>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
